.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 3px;
  border: 1px solid #0066cc;
  background-color: white;
  color: #0066cc;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  user-select: none;
  outline: none;
  box-sizing: border-box;
  position: relative;
  height: 35px;
}

.disabled{
  color: silver;
  border: 1px solid silver;
}

.custom-button.hovered:not(.disabled) {
  border-width: 2px;
  border-color: #0066cc;
  box-sizing: border-box;
}

.custom-button.focused:not(.disabled) {
  border-width: 2px;
  border-color: #0066cc;
  outline: none;
}

.custom-button:active:not(.disabled) {
  transform: translateY(0);
  border-width: 2px;
  background-color: #f5f9ff;
}

.button-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.custom-button:focus-visible:not(.disabled) {
  border-width: 2px;
  border-color: #0066cc;
}

.custom-button:focus {
  outline: none;
}
